// Define variables for your color scheme

// For example:
$red: #FF4500; //SECONDARY COLOR
$blue: #007BFF; //MAIN COLOR
$dark-blue: #0056b3; //BUTTON HOVER COLOR
$light-gray: #CCCCCC; //BORDER COLOR
$black: #000000; //TEXT COLOR
$white: #FFFFFF; //BACKGROUND COLOR


// Palette
$maincolor: #eaeaea;
$secondarycolor: #FAEBCD;
$accentcolor: #F7C873;
$detail: #434343;
$primary: #FB2F46;
