<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide shadow rounded" data-bs-ride="true">
        <div class="carousel-indicators">
          <% photos.each_with_index do |photo, index| %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
          <% end %>
        </div>

        <div class="carousel-inner" style="height: 350px">
        <% photos.each do |photo| %>
          <div class="carousel-item active h-100"  style="background: url('<%= cl_image_path photo.key, crop: :fill %>'); background-size: cover; background-position: center;"></div>
        <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
