<div class="bg-light border-top" style="flex-shrink: 0;">
  <footer class="d-flex flex-wrap justify-content-between align-items-center my-4 w-100">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 AirCam, Inc</span>
    </div>

    <ul class="nav col-md-4 list-unstyled d-flex justify-content-end align-items-end">
    <div class="d-flex justify-content-end">
      <li class="me-4"><a class="text-body-secondary" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="me-4"><a class="text-body-secondary" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
      <li class="me-4"><a class="text-body-secondary" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
    </div>
    </ul>
  </footer>
</div>
