<div>
  <h4>Book camera</h4>

  <%= simple_form_for(@booking) do |f| %>
    <%=
    f.input :start_date,
      as: :string,
      input_html: {
        data: { controller: "datepicker", "datepicker-dates-value": @blocked_dates.to_json },
        class: 'd-none'},
        label: false %>
    <%= f.submit 'Reserve', class:"btn btn-primary w-100 text-white" %>
  <% end %>
</div>
