<h4>Edit your camera listing</h4>
<%= link_to 'Edit details', edit_camera_path(@camera), class:"btn btn-primary"  %>
<%= link_to 'Edit blocked dates', new_availability_path(@camera), class:"btn btn-primary"  %>
