


<div class="container">
  <!--Cameras CARDs Index-->
  <div class="row row-cols-1 row-cols-md-3 g-5 mt-2 ">
    <%= render 'shared/cards', items: @cameras %>
  </div>
  <div class="mt-5">
  <%= will_paginate @objects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
