<!--Carousel Slides-->
<%= render 'shared/carousel', photos: @camera.photos %>

<!-- Description and Form -->
<section id="description_and_booking_form">
  <div class="container mt-5">
    <div class="row">
      <!-- Description -->
      <div class="col-md-6 mb-3 rounded-5">
        <%= render 'shared/description_card', camera: @camera %>
      </div>

      <!-- Form -->
      <div class="col-md-6 rounded-5">
        <%= render 'shared/form_card' %>
      </div>
    </div>
  </div>
</section>
